@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply
            bg-cyan
            text-indigo
            dark:bg-indigo
            dark:text-cyan
        ;
    }
    table {
        border-collapse: collapse;
        margin: auto;
    }
    th, td {
        @apply border p-4;
    }
}